@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    background-color: rgb(3, 3, 14);
}

@layer components {
    .earth {
      @apply  flex h-screen 3xl:w-full 3xl:items-center
              justify-center 2xl:flex 2xl:items-center 2xl:justify-center 
     }
}

/* Move scrollbar to the left */
.scrollbar-left {
    direction: rtl; /* Flip the scrollbar */
  }
  
  .scrollbar-left > * {
    direction: ltr; /* Keep content direction normal */
  }
  
  /* Custom scrollbar styling */
  .custom-scroll::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #e0e0e0; /* Light color for the thumb */
    border-radius: 4px; /* Rounded corners */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background-color: #f8f8f8; /* Light color for the track */
  }
  